html, body {
  height: 100%;
  background-color: beige;
}

.active {
  margin: auto;
  width: 80%;
  max-height: 500px;
  height: 50%;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.prof-pic {
  height: 5vw;
  width: 7vw;
  margin: 7px;
  border: 2px solid darkred;
  border-radius: 15px;
}

.prof-pic:hover {
  cursor: pointer;
  opacity: .4;
}

.banner {
  font-family: monospace;
  font-size: 5vw;
  text-align: center;
  margin: 20px;
}

.pane {
  width: 50%;
  position: relative;
  font-size: 2vw;
  background-color: crimson;
  border: 2px solid black;
  padding: 1vw;
  margin-left: 5px;
  font-family: helvetica;
  transition: all 300ms linear;
}

.activeimg {
  width: 10vw;
  height: 10vw;
}

.desc {
  position: relative;
  bottom: 0;
}
@media all and (min-width: 1200px) {
  .desc {
    font-size: 1.5vw;
  }
}

@media all and (max-width: 1199px) and (min-width: 600px) {
  .desc {
    font-size: 2vw;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
  .desc {
    font-size: 3vw;
  }
}